<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="dev">
    <environment id="dev">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
        <property name="url" value="jdbc:log4jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
        <property name="username" value="C##EMPLOYEE"/>
        <property name="password" value="EMPLOYEE"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/greedy/mvc/employee/model/dao/EmployeeDAO.xml"/>
  </mappers>
</configuration>
