<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper"> <!-- 설정해주어야하는 최상위 엘리먼트 -->
 	<select id="selectSysdate" resultType="java.util.Date">
 		SELECT
 				SYSDATE
 		  FROM DUAL
 	</select>
 </mapper>