<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="MenuMapper"> <!-- 설정해주어야하는 최상위 엘리먼트 -->
 
 	<!-- resultmap은 조회한 컬럼과 DTO를 매핑 시키기 위한 설정이다. -->
 	<resultMap type = "com.greedy.section01.xmlconfig.MenuDTO" id="menuResultMap">
 		<!-- id: pk -->
 		<id property="code" column="MENU_CODE"/>
 	<!-- Property:menudto의 필드명 <-> column속성에는 select문에 조회되는 컬럼값 -->
 		<result property="name" column="MENU_NAME"/> 
 		<result property="price" column="MENU_PRICE"/>
 		<result property="categoryCode" column="CATEGORY_CODE"/>
 		<result property="orderableStatus" column="ORDERABLE_STATUS"/>
 	</resultMap>
 	
 	<select id="selectAllMenu" resultMap = "menuResultMap">
 		SELECT
 				MENU_CODE
 			  , MENU_NAME
 			  , MENU_PRICE
 			  , CATEGORY_CODE
 			  , ORDERABLE_STATUS
 		  FROM TBL_MENU
 		 WHERE ORDERABLE_STATUS = 'Y' 
 		 ORDER BY MENU_CODE 
 	</select>
 	
 	<!-- /*2번*/
 	파라미터가 한 개인 경우 바인딩 되는 이름(code에 해당)은 상관 없다. 
 	파라미터 타입도 지정하지 않아도 된다 (= parameterType="_int" )
 	resultMap : 위에서 정의한 resultMap을 리턴 타입으로 이용하는 경우
 	resultType : 이미 정의 되어 있는 타입을 리턴 타입으로 이용하는 경우
 	 -->
 	<select id="selectMenuByCode" parameterType="_int" resultMap="menuResultMap">
 	 		SELECT
 				MENU_CODE
 			  , MENU_NAME
 			  , MENU_PRICE
 			  , CATEGORY_CODE
 			  , ORDERABLE_STATUS
 		  FROM TBL_MENU
 		 WHERE ORDERABLE_STATUS = 'Y' 
 		   AND MENU_CODE = #{ code } <!-- preparedstatement의 '?'에 해당 = #{ } -->
 	</select>
 	
 	
 	<!-- 3번 -->
 	<!-- insert, update, delete의 경우 resultType은 작성하지 않는다.
 		 기본 _int로 수행 결과를 리턴하기 때문이다. -->
 	<!-- 파라미터로 전달 된 DTO의 필드 이름으로 값을 바인딩 해주어야 한다. getter를 이용하며 getter가 없는 경우 에러가 발생한다. -->
 	<!-- 파라미터 타입도 생략이 가능하다.  ( parameterType= )-->
	<insert id="insertMenu" parameterType="com.greedy.section01.xmlconfig.MenuDTO">
		INSERT
		  INTO TBL_MENU
		(
		  MENU_CODE
		, MENU_NAME
		, MENU_PRICE
		, CATEGORY_CODE
		, ORDERABLE_STATUS 
		)
		VALUES
		(
		  SEQ_MENU_CODE.NEXTVAL
		  <!-- #{ 필드명 } -->
		, #{ name } 
		, #{ price }
		, #{ categoryCode }
		, 'Y'
		)
	</insert>
	<!-- 메뉴 안에 있는 필드들이 있기 때문에, #{ code }처럼이 아닌 '정확하게 맞게 써주어'야한다 -->
 	
 	
 	
 	<!-- 4번 -->
	<update id="updateMenu" parameterType="com.greedy.section01.xmlconfig.MenuDTO">
		UPDATE
		       TBL_MENU
		   SET MENU_NAME = #{ name }
		     , MENU_PRICE = #{ price }
		     , CATEGORY_CODE = #{ categoryCode }
		 WHERE MENU_CODE = #{ code }
	</update>

 	
 	<!-- 5번 -->
	<delete id="deleteMenu" parameterType="_int">
        DELETE
          FROM TBL_MENU 
         WHERE MENU_CODE = #{ code }
	</delete>

 	
 </mapper>